CREATE TABLE public.dashboard_cache (
    client_id uuid NOT NULL REFERENCES public.clients(id) ON DELETE CASCADE,
    view_mode text NOT NULL,
    current_data jsonb,
    prev_data jsonb,
    last_updated timestamp with time zone DEFAULT now(),
    PRIMARY KEY (client_id, view_mode)
);

ALTER TABLE public.dashboard_cache ENABLE ROW LEVEL SECURITY;

CREATE POLICY \
Enable
read
access
for
all
users\ ON public.dashboard_cache FOR SELECT USING (true);
CREATE POLICY \Enable
insert
for
authenticated
users
only\ ON public.dashboard_cache FOR INSERT WITH CHECK (auth.role() = 'authenticated' OR auth.role() = 'anon');
CREATE POLICY \Enable
update
for
authenticated
users
only\ ON public.dashboard_cache FOR UPDATE USING (auth.role() = 'authenticated' OR auth.role() = 'anon');

